*{
    font-family: Gilroy, sans-serif;
}

.body{
    padding: 0;
    margin: 0;
}

.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container{
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container{
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container{
    max-width: 1140px;
  }
}


.header{
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    width: auto;
    height: 26px;
}

.main-nav{

}

.main-nav__link{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #1E1E20;
    text-decoration: none;
    padding: 0 26px;
    transition: .4s;;
}

.main-nav__link--active{
    color: #F16000;
}

.main-nav__link:hover{
    color: #F16000;
}

.intro{
    height: 95vh;
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-title{
    font-weight: 800;
    font-size: 68px;
    line-height: 112%;
    text-align: center;
    color: #1E1E20;
    margin-bottom: 18px;
}

.intro-title__typing{
    color: #F16000;
}

.intro-desc{
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #1E1E20;
    width: 35%;
    margin: 0 auto;
    margin-bottom: 56px;
}

.btn{
    padding: 16px 32px;
    background-color: #F16000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    transition: .4s;
    margin: 0 auto;
}

.btn:hover{
    transform: scale(1.03, 1.03);
}

.btn-text{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 80px;
}

.Typewriter__cursor{
    font-weight: 100;
}

.counter{
    width: 100%;
    height: auto;
    background-image: url('/assets/images/bg-counter.png');
    background-position: center 0%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 140px;
    margin-bottom: 175px;
}

.counter-num{
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 110%;
    text-align: center;
    color: #1E1E20;
    margin-bottom: 8px;
}

.counter-text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #1E1E20;
}

.tutor{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 230px;
}

.tutor-info{
    position: relative;
    width: 30%;
    padding-left: 100px;
}

.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #FFB800;
    border-radius: 50%;
}

.tutor-ball{
    top: -10px;
    left: 65px;
}

.tutor-title{
    font-style: normal;
    font-weight: bold;
    font-size: 53px;
    line-height: 130%;
    color: #F16000;
    margin-bottom: 24px;
}

.tutor-desc{
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    color: #1E1E20;
    margin-bottom: 24px;
}

.tutor-desc--bold{
    font-weight: bold;
}

.tutor-animation{
    width: 50%;
}

.tutor-animation img{
    width: 100%;
    height: auto;
}

.try{
    width: 100%;
    height: auto;
    background-image: url('/assets/images/bg-try.png');
    background-position: center 0%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 180px;
    margin-bottom: 175px;
}

.try-title{
    font-style: normal;
    font-weight: bold;
    font-size: 51px;
    line-height: 120%;
    text-align: center;
    color: #1E1E20;
    position: relative;
}

.try-ball{
    top: -10px;
    left: -35px;
}

.try-desc{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #000000;
    margin-bottom: 42px;
}

.try-form{
    display: flex;
    justify-content: center;
    width: 50%;
}

.try-form__text{
    font-weight: normal;
    flex: 1 0 auto;
    font-size: 17px;
    line-height: 20px;
    color: #272727;
    padding-left: 16px;
    margin-right: 24px;
    border: 2px solid #1E1E20;
    
}

.try-form__text::placeholder{
    color: #838383;
}

.values{
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
}

.values-item{
    width: 30%;
}

.values-num{
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
    color: #1E1E20;
    text-align: center;
}

.values-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #1E1E20;
    text-align: center;
}

.values-divider{
    height: 110px;
    width: 2px;
    background-color: #FFAD01;
}

.try-end{
    padding-top: 150px;
    padding-bottom: 110px;
    margin-bottom: 0;
}

.try-orange{
    color: #F16000;
}

.review-container-fluid{
    height: 500px;
    width: 100%;
    background-image: url('/assets/images/bg-review.png');
    background-position: center 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 175px;
}

.review{
 position: relative;
 width: 90%;
 width: calc(100% - 80px);
 margin: 0 auto;
}

.review-item{
    width: 100%;
}

.review-inner{
    position: relative;
    padding-left: 100px;
    width: 60%;
    margin: 0 auto;
}

.review-icon{
    position: absolute;
    top: 0;
    left: 0;
}

.review-text{
    font-weight: 800;
    font-size: 36px;
    line-height: 122%;
    margin-bottom: 48px;
}

.review-text--white{
    color: #fff;
}

.review-name{
    font-weight: bold;
    font-size: 24px;
    line-height: 110%;
    color: #1E1E20;
    margin-bottom: 8px;
}

.review-position{
    font-size: 14px;
    line-height: 130%;
    color: #1E1E20;
}

.slick-slide{
    outline: none !important;
}

.review .slick-arrows{
    transform: translate(0, -50%);
    z-index: 500;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transition: .4s;
}

.review .slick-prev{
    float: left;
    left: -40px;
}

.review .slick-next{
    float: right;
    right: -40px;
}

.review .slick-arrows:hover{
    transform: translate(0, -50%) scale(1.07, 1.07);
}