*{
    font-family: Gilroy, sans-serif;
}

.body{
    padding: 0;
    margin: 0;
}

.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container{
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container{
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container{
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
    .container{
      max-width: 1320px;
    }
  }


.header{
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    width: auto;
    height: 26px;
}

.main-nav{

}

.main-nav__link{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #1E1E20;
    text-decoration: none;
    padding: 0 26px;
    transition: .4s;;
}

.main-nav__link--active{
    color: #F16000;
}

.main-nav__link:hover{
    color: #F16000;
}

.intro{
    height: 95vh;
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-title{
    font-weight: 800;
    font-size: 68px;
    line-height: 112%;
    text-align: center;
    color: #1E1E20;
    margin-bottom: 18px;
}

.intro-title__typing{
    color: #F16000;
}

.intro-desc{
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #1E1E20;
    width: 35%;
    margin: 0 auto;
    margin-bottom: 56px;
}

.btn{
    padding: 16px 32px;
    background-color: #F16000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    transition: .4s;
    margin: 0 auto;
}

.btn:hover{
    transform: scale(1.03, 1.03);
}

.btn-text{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 80px;
}

.Typewriter__cursor{
    font-weight: 100;
}

.counter{
    width: 100%;
    height: auto;
    background-image: url('../assets/images/bg-counter.png');
    background-size: cover;
    background-position: center 0%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 140px;
    margin-bottom: 175px;
}

.counter-num{
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 110%;
    text-align: center;
    color: #1E1E20;
    margin-bottom: 8px;
}

.counter-text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #1E1E20;
}

.tutor{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 230px;
}

.tutor-info{
    position: relative;
    width: 30%;
    padding-left: 100px;
}

.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #FFB800;
    border-radius: 50%;
}

.tutor-ball{
    top: -10px;
    left: 65px;
}

.tutor-title{
    font-style: normal;
    font-weight: bold;
    font-size: 53px;
    line-height: 130%;
    color: #F16000;
    margin-bottom: 24px;
}

.tutor-desc{
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    color: #1E1E20;
    margin-bottom: 24px;
}

.tutor-desc--bold{
    font-weight: bold;
}

.tutor-animation{
    width: 50%;
}

.tutor-animation img{
    width: 100%;
    height: auto;
}

.try{
    width: 100%;
    height: auto;
    background-image: url('../assets/images/bg-try.png');
    background-position: center 0%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 180px;
    margin-bottom: 175px;
}

.try-title{
    font-style: normal;
    font-weight: bold;
    font-size: 51px;
    line-height: 120%;
    text-align: center;
    color: #1E1E20;
    position: relative;
}

.try-ball{
    top: -10px;
    left: -35px;
}

.try-desc{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #000000;
    margin-bottom: 42px;
}

.try-form{
    display: flex;
    justify-content: center;
    width: 50%;
}

.try-form__text{
    font-weight: normal;
    flex: 1 0 auto;
    font-size: 17px;
    line-height: 20px;
    color: #272727;
    padding-left: 16px;
    margin-right: 24px;
    border: 2px solid #1E1E20;
    
}

.try-form__text::placeholder{
    color: #838383;
}

.values{
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
}

.values-item{
    width: 30%;
}

.values-num{
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
    color: #1E1E20;
    text-align: center;
}

.values-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #1E1E20;
    text-align: center;
}

.values-divider{
    height: 110px;
    width: 2px;
    background-color: #FFAD01;
}

.try-end{
    padding-top: 150px;
    padding-bottom: 110px;
    margin-bottom: 0;
}

.try-orange{
    color: #F16000;
}

.review-container-fluid{
    height: auto;
    width: 100%;
    background-image: url('../assets/images/bg-review.png');
    background-position: center 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 175px;
    padding-top: 150px;
    padding-bottom: 220px;
}

.review-container-fluid .slick-arrows{
    padding: 30px 5px;
}

.review{
 position: relative;
 width: 90%;
 width: calc(100% - 80px);
 margin: 0 auto;
}

.review-container{
    position: relative;
}

.review-container:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    pointer-events: none;
    background: rgb(255,184,0);
    background: -moz-linear-gradient(90deg, rgba(255,184,0,1) 44%, rgba(255,184,0,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,184,0,1) 44%, rgba(255,184,0,0) 100%);
    background: linear-gradient(90deg, rgba(255,184,0,1) 44%, rgba(255,184,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb800",endColorstr="#ffb800",GradientType=1);
}

.review-container:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 100%;
    z-index: 100;
    pointer-events: none;
    background: rgb(255,184,0);
background: -moz-linear-gradient(90deg, rgba(255,184,0,0) 0%, rgba(255,184,0,1) 53%);
background: -webkit-linear-gradient(90deg, rgba(255,184,0,0) 0%, rgba(255,184,0,1) 53%);
background: linear-gradient(90deg, rgba(255,184,0,0) 0%, rgba(255,184,0,1) 53%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb800",endColorstr="#ffb800",GradientType=1);

}

.review-item{
    width: 100%;
}

.review-inner{
    position: relative;
    padding-left: 100px;
    width: 60%;
    margin: 0 auto;
}

.review-icon{
    position: absolute;
    top: 0;
    left: 0;
}

.review-text{
    font-weight: 800;
    font-size: 36px;
    line-height: 122%;
    margin-bottom: 48px;
}

.review-text--white{
    color: #fff;
}

.review-name{
    font-weight: bold;
    font-size: 24px;
    line-height: 110%;
    color: #1E1E20;
    margin-bottom: 8px;
}

.review-position{
    font-size: 14px;
    line-height: 130%;
    color: #1E1E20;
}

.slick-slide{
    outline: none !important;
}

.review .slick-arrows{
    transform: translate(0, -50%);
    z-index: 500;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transition: .4s;
}

.review .slick-prev{
    float: left;
    left: -40px;
}

.review .slick-next{
    float: right;
    right: -40px;
}

.review .slick-arrows:hover{
    transform: translate(0, -50%) scale(1.07, 1.07);
}

.pricing-card__header{
    width: 100%;
    height: 65px;
    background-image: url('../assets/images/pricing-header.svg');
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 48px;
    opacity: .4;
    transition: .4s;
}

.pricing-title{
    position: relative;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 60px;
}

.pricing-title__text{
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #1E1E20;
}

.pricing-ball{
    top: -8px;
    left: -30px;
}

.pricing-cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.pricing-card{
    width: 31.6%;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 18px 28px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pricing-card__title{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    width: 100%;
    position: absolute;
    top: 18px;
}

.pricing-card__button.btn{
    width: 100%;
    box-sizing: border-box;
    color: #000;
    background-color: #E3E2E2;
}

.pricing-card__button:hover{
    color: #fff;
    background-color: #F16000;
}

.pricing-card__button:hover .btn-arrow{
    filter: invert(0%);
}

.pricing-card__button .btn-text{
    color: inherit;
}

.pricing-card__button .btn-arrow{
    filter: invert(100%);
}

.pricing-card__button:hover{
    transform: scale(1, 1);
}

.pricing-card__price{
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.pricing-card__price-currency{
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 110%;
    text-align: center;
    color: #1E1E20;
}
.pricing-card__price-value{
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 90%;
    text-align: center;
    color: #1E1E20;
}

.pricing-card__price-term{
    font-weight: 800;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #1E1E20;
    opacity: 0.44;
    display: flex;
    align-items: flex-end;
}

.pricing-card__list{
    width: 80%;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 40px;
    box-sizing: border-box;
    list-style-type: none;
    flex: 1 0 auto;
}

.pricing-card__list-item{
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #1E1E20;
    margin-bottom: 10px;
    position: relative;
    
}

.pricing-card__list-item--tick::before{
    content: url('../assets/images/pricing-tick.svg');
    width: 10px;
    height: auto;
    position: absolute;
    left: -20px;
}

.pricing-card__list-item--minus{
    color: #C3C2C2;
}

.pricing-card__list-item--minus::before{
    content: url('../assets/images/pricing-minus.svg');
    width: 10px;
    height: auto;
    position: absolute;
    left: -20px;
    top: -3px;
    display: flex;
    align-items: center;
}

.pricing-card.active .pricing-card__header{
    opacity: 1;
}

.pricing-card.active .pricing-card__button{
    color: #fff;
    background-color: #F16000;
}

.pricing-card.active .pricing-card__button .btn-arrow{
    filter: invert(0%);
}

.pricing-slider__desc{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 48px;
}

.pricing-range__values{
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.pricing-range__value{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #1E1E20;
    margin-bottom: 8px;
}

/* range slider for pricing block  */
input[type=range] {
-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
width: 100%; /* Specific width is required for Firefox. */
background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
}

input[type=range]:focus {
outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
width: 100%;
cursor: pointer;

/* Hides the slider so custom styles can be added */
background: transparent; 
border-color: transparent;
color: transparent;
}


/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 3px solid #F16000;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -12px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: 3px solid #F16000;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    border: 3px solid #F16000;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  }


    .x1 input[type=range]::-webkit-slider-runnable-track {
        background: linear-gradient(to right, #F16000 0%, #F16000 0%, #EBE9E9 0%, #EBE9E9 100%);
    }
    .x1 input[type=range]:focus::-webkit-slider-runnable-track {
        background: linear-gradient(to right, #F16000 0%, #F16000 0%, #EBE9E9 0%, #EBE9E9 100%);
    }

    .x2 input[type=range]::-webkit-slider-runnable-track {
        background: linear-gradient(to right, #F16000 0%, #F16000 20%, #EBE9E9 20%, #EBE9E9 100%);
    }
    .x2 input[type=range]:focus::-webkit-slider-runnable-track{
        background: linear-gradient(to right, #F16000 0%, #F16000 20%, #EBE9E9 20%, #EBE9E9 100%);
    }

    .x3 input[type=range]::-webkit-slider-runnable-track {
        background: linear-gradient(to right, #F16000 0%, #F16000 40%, #EBE9E9 40%, #EBE9E9 100%);
    }
    .x3 input[type=range]:focus::-webkit-slider-runnable-track{
        background: linear-gradient(to right, #F16000 0%, #F16000 40%, #EBE9E9 40%, #EBE9E9 100%);
    }

    .x4 input[type=range]::-webkit-slider-runnable-track {
        background: linear-gradient(to right, #F16000 0%, #F16000 60%, #EBE9E9 60%, #EBE9E9 100%);
    }
    .x4 input[type=range]:focus::-webkit-slider-runnable-track{
        background: linear-gradient(to right, #F16000 0%, #F16000 60%, #EBE9E9 60%, #EBE9E9 100%);
    }

    .x5 input[type=range]::-webkit-slider-runnable-track {
        background: linear-gradient(to right, #F16000 0%, #F16000 80%, #EBE9E9 80%, #EBE9E9 100%);
    }
    .x5 input[type=range]:focus::-webkit-slider-runnable-track{
        background: linear-gradient(to right, #F16000 0%, #F16000 80%, #EBE9E9 80%, #EBE9E9 100%);
    }

    .x6 input[type=range]::-webkit-slider-runnable-track {
        background: linear-gradient(to right, #F16000 0%, #F16000 100%, #EBE9E9 100%, #EBE9E9 100%);
    }
    .x6 input[type=range]:focus::-webkit-slider-runnable-track{
        background: linear-gradient(to right, #F16000 0%, #F16000 100%, #EBE9E9 100%, #EBE9E9 100%);
    }


  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #EBE9E9;
    border-radius: 2px;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #EBE9E9;
    /* background: linear-gradient(to right, green 0%, green 80%, #fff 80%, #fff 100%); */
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #F16000;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }

  input::-moz-range-track{
    background: linear-gradient(90deg,black 50%,grey 50%);
}

#rangeVal6{
    transform: translateX(13px);
}

#rangeVal5{
    transform: translateX(5px);
}

#rangeVal3{
    font-weight: bold;
    transform: translateX(3px);
}

#rangeVal1{
    transform: translateX(-6px);
}







.footer{
    background-color: #1E1E20;
    padding-top: 100px;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 85px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.17);
}

.footer-col__logo{
    width: 35%;
}

.footer-col__links{
    width: 15%;
    color: #fff;

}

.footer-col__contact{
    width: 35%;
    color: #fff;
    text-align: right;
}

.footer-link{
    display: block;
    font-style: normal;
    font-size: 15px;
    line-height: 130%;
    color: #F9F8F8;
    text-decoration: none;
    margin-bottom: 14px;
    transition: .4s;
}

.footer-link:hover{
    color: #F16000;
}

.footer-col__links-first .footer-link{
    font-weight: bold;
}

.footer-col__links-second .footer-link{
    font-weight: normal;
}

.footer-copyright{
    height: 88px;
}

.footer-copyright__crayfish, .footer-copyright__info, .footer-copyright__crayfish a {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 200%;
    text-align: right;
    color: #818181;
    text-decoration: none;
    transition: .4s;
}

.footer-copyright__crayfish a{
    display: inline;
}

.footer-copyright__crayfish a:hover{
    color: #F16000;
}

.footer-copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1440px){
    .try-form{
        width: 40%;
    }
}